.Rproj.user
.Rhistory
.RData
 
#Binary files
*.pdf
*.jar

# Output files
*.csv
*.zip
## Except those in data-raw
!data-raw/**/*.csv 
### But this one's not to be shared
data-raw/IR_factor/gleam2005.csv
data/s2005.rda

*.html

# Folders to ignore
archive/*
validation/*
