current: qa
all:
  share: /media/share
qa:
  certdir: ~/certificates/qa
  server: https://hqlqasws1.hq.un.fao.org:8181/sws
  token: 2b5a3afd-4d70-4f4e-9665-e0f4c2349c9e
production:
  certdir: ~/certificates/production
  server: https://hqlprswsas1.hq.un.fao.org:8181/sws
  token: 326db9b9-411d-4a0f-b1a9-0ac6ec4b4bad
  